<%- include('../partials/users/header') %>
<h1>My Products</h1>
<%= typeof message != 'undefined' ? message: '' %> <br />
<a href="/users/products/add">Add New Product</a>

<%- include('../partials/users/footer') %>
