body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.container.search {
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container.product {
  display: grid;
  grid-template-columns: 4fr 3fr;
  background-color: #f2f7f7;
  align-items: center;
}

.container.review {
  display: grid;
  grid-template-columns: 4fr;
  background-color: #f2f7f7;
  width: 40%;
  align-items: center;
}

.img-box {
  width: 90%;
  height: 90%;
  display: block;
  text-align: center;
}

.product-img {
  width: 100%;
  height: 100%;
}

.form {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 500px;
}

input {
  margin-bottom: 5px;
}

.form-button {
  margin-top: 5px;
  width: 100%;
}

.search {
  width: 200px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
h1,
h2,
h3 {
  text-align: center;
}
.message {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .container.product {
    display: block;
    padding-bottom: 10px;
    width: 100x;
  }
  .container.review {
    width: 100%;
  }
  .container.search {
    width: 80%;
  }
  .img-box {
    width: 100%;
  }
  .container.form {
    width: 100%;
  }
}
.box {
  min-height: 100vh;
}
@media screen and (max-width: 500px) {
  .container.form {
    width: 100%;
  }
}
