<%- include('partials/header') %>
<div class="form">
  <div class="container-login text-center">
    <h3>Please sign in</h3>
    <%- include('partials/registerMsg') %> <%= typeof message != 'undefined' ?
    message: '' %>
    <form action="/users/login" method="POST">
      <input
        class="form-control form-control-md"
        type="email"
        name="email"
        placeholder="Email"
      />
      <input
        class="form-control form-control-md"
        type="password"
        name="password"
        placeholder="Password"
      />

      <label> <input type="checkbox" value="remember-me" /> Remember me </label>

      <button class="btn btn-success form-button" type="submit">Login</button>

      <p class="text-muted text-center">
        <small>Do not have an account?</small>
      </p>
      <a class="btn btn-outline-success" href="register">Create an account</a>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
